In [3]:
import numpy as np
import pandas as pd
df = pd.read_csv(r"C:\Users\Lab\Desktop\2470046_Amritanshu\Student Performance 1.csv")
df
# print("Data File:- \n\n",df)

,Math_Score,Reading_Score,Writing_Score,Placement_Score,Number_of_Placement
0,65.0,88.0,69.0,97.0,3
1,72.0,79.0,79.0,84.0,3
2,69.0,86.0,72.0,90.0,2
3,72.0,85.0,79.0,88.0,3
4,75.0,NaN,NaN,NaN,3
5,78.0,95.0,67.0,89.0,3
6,NaN,79.0,61.0,100.0,3
7,73.0,92.0,68.0,77.0,3
8,68.0,NaN,75.0,98.0,2
9,77.0,75.0,80.0,100.0,3
10,NaN,92.0,NaN,NaN,3
11,66.0,93.0,63.0,76.0,3
12,80.0,84.0,73.0,96.0,2
13,69.0,86.0,78.0,93.0,3
14,71.0,93.0,71.0,90.0,3
15,63.0,NaN,NaN,79.0,3
16,NaN,95.0,62.0,NaN,2
17,74.0,83.0,67.0,99.0,2
18,67.0,85.0,75.0,91.0,3
19,75.0,94.0,80.0,80.0,3
20,NaN,77.0,NaN,80.0,2
21,78.0,77.0,60.0,80.0,2
22,67.0,85.0,69.0,97.0,2
23,67.0,NaN,77.0,NaN,3
24,67.0,78.0,66.0,99.0,3
25,74.0,95.0,62.0,82.0,3
26,64.0,82.0,70.0,98.0,2
27,66.0,93.0,65.0,77.0,3
28,60.0,80.0,64.0,95.0,2
29,73.0,76.0,78.0,92.0,3

In [ ]:
df.isnull()

In [ ]:
df.notnull()

In [ ]:
df.dropna()

In [ ]:
df

In [ ]:
df.dropna(inplace=True)

In [ ]:
df

In [ ]:
df1 = pd.read_csv(r"C:\Users\Lab\Desktop\2470046_Amritanshu\Student Performance 1.csv")
df1

In [ ]:
#access single column

df1["Math_Score"]

In [ ]:
df1["Math_Score"]=df1["Math_Score"].fillna(0)
df1["Reading_Score"]=df1["Reading_Score"].fillna(0)
df1["Writing_Score"]=df1["Writing_Score"].fillna(0)
df1["Placement_Score"]=df1["Placement_Score"].fillna(0)
df1

In [ ]:
df1=df1.fillna(0)
df1

In [ ]:
#copy df1 to df2
df2=df1
df2

In [ ]:
df3=pd.read_csv(r"C:\Users\Lab\Desktop\2470046_Amritanshu\Student Performance 1.csv")
df3

In [ ]:
df3=df3.fillna(0)
df3

In [ ]:
x=df3["Math_Score"].mean()
print("mean = ",x)

In [ ]:
df3["Math_Score"]

In [ ]:
df3["Math_Score"]=df3["Math_Score"].fillna(x)
df3

In [ ]:
df4=pd.read_csv(r"C:\Users\Lab\Desktop\2470046_Amritanshu\Student Performance 1.csv")
df4

In [ ]:
=df4["Math_Score"].mean()
print(x)

In [ ]:
df4["Math_Score"]=df4["Math_Score"].fillna(x)
df4

In [ ]:
Med=df4["Reading_Score"].median()
print("Median :- ",Med)

In [ ]:
df4["Reading_Score"]=df4["Reading_Score"].fillna(x)
df4

In [ ]:
mo=df4["Writing_Score"].mode()
print("Mode :- ",mo)
print("Mode :- ",type(mo))

In [ ]:
df4["Writing_Score"]=df4["Reading_Score"].fillna(mo)
df4

In [ ]:
maxi=df4["Placement_Score"].max()
print("maximum :- ",maxi)

In [ ]:
df4["Placement_Score"]=df4["Placement_Score"].fillna(maxi)
df4